# Description: Files and folders to be ignored by git version control system
# Author: Malusi Gcakasi
# Last Modified: Aug 20, 2013 04:17 PM

# files to be ignored
#all access database files
*.mdb
# All files created by vim
*.*.swp?
*~
